:root {
    --Primary-color: #0D0D0D;
    --Secondary-color: #F0F0E5;
    --Thirdy-color: #D92525;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: var(--Secondary-color);
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: var(--Primary-color);
    border-radius: 10px;
  }
